body{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
 .container {
  width:75%;
  height: 2000px;
    margin: 0px auto
}

.header {
  width: 78%;
margin: 0px auto;
height: 4%;
margin-top: 54px;
}
.socialLinks{
  width: 100%;
  margin: 0px auto;
  height: 35%;
}
.redButtons{
  width: 100%;
  margin: 20px auto;
  height: 35%;
}
.box1{
  border: 1px solid red;
  width: 25%;
  display: inline-block;
  float: left;
}
.box2 {
  border: 1px solid red;
  width: 25%;
  display: inline-block;
  float: left;
}
.box3 {
  border: 1px solid red;
  width: 25%;
  display: inline-block;
  float: left;
}
.box4 {
  border: 1px solid red;
width: 34% display:inline-block;
float: left;
width: 23%;
}
.textbox1{
    height: 100%;
    font-size: 68%;
    padding: 6%;
}
.textbox2{
  height: 100%;
  font-size: 68%;
  padding: 6%;
}
.textbox3{
  height: 100%;
  font-size: 68%;
  padding: 6%;
}
.box1{
  margin-left: 4%;
  border-bottom: 2px solid #faebd7;
  text-align: center;
  color: white;
  background-color: red;
  width: 23%;
  margin-right: 1%;
  height: 84%;
}
.box2{
  border-bottom: 2px solid #faebd7;
  text-align: center;
  color: white;
  background-color: red;
  width: 22%;
  margin-right: 2%;
  height: 84%;
}
.box3{
  border-bottom: 2px solid #faebd7;
  text-align: center;
color: white;
background-color: red;
width: 19%;
margin-right: 2%;
height: 84%;
}
.box4{
  border-bottom: 2px solid #faebd7;
  text-align: center;
    color: white;
    background-color: red;
    width: 19%;
    margin-right: 2%;
    height: 84%;
}
.cameraguy {
  background-image: url("top-image.png");
  background-size: cover;
  width: 78%;
  border: 3px solid white;
  margin: 0px auto;
  height: 11%;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  margin-top: 7px;
}
.grid{
  opacity: 0.4;
}
.logo{
  position: relative;
right: -510px;
height: 79%;
}
.article {
  width: 79%;
margin: 7px auto;
height: 12%;
}
.skateBoardbios{
  width: 100%;
    margin: 0px auto;
  height: 35%;
}
.article1{
width: 27%;
display: inline-block;
float: left;
height: 99%;
background-color: white;
margin-right: 4%;
margin-left: 0%;
    }
.article2{
    width: 27%;
    display: inline-block;
    float: left;
    height: 99%;
    background-color: white;
    margin-right: 3%;
    margin-left: 5%;
}
.article3{
    width: 28%;
    display: inline-block;
    float: right;
    height: 99%;
    background-color: white;
    margin-right: 0%;
  }
 .skateBoardbios{
   width: 79%;
   margin: 0px auto;
    height: 17%;
 }
 .tommyHeader{
   padding-left: 15px;
    padding-top: 42%;
 }
 .lanceHeader{
   text-align: center;
   color: white;
 }
 .rodneyHeader{
   text-align: center;
   color: white;
 }
 .steveHeader{
   text-align: center;
padding-top: 34px;
color: white;
 }
 .tommyGuerrero {
   color: white;
   background-image: url("sk8er-2.png");
   background-position: right;
   background-size: contain;
   background-repeat: no-repeat;
   background-size: cover;
   width: 39%;
    border: 1px solid white;
    float: right;
    height: 326px;
}
.dots{
  text-align: center;
}
.lanceAndrodney{
  width: 60%;
  height: 158px;
  display: block;
  margin-top: 0.8%;
}
.steveCaballero{
  background-image: url("sk8er-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 158px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 1%;
}
.footer{
  border-bottom: 2px solid #faebd7;
  width: 79%;
  margin: 0px auto;
  height: 27%;
  margin-top: 11px;
}
.skateBoards{
  border-bottom: 2px solid #faebd7;
  width: 99%;
border: 3px solid white;
height: 43%;
background-color: white;
}
.board{
  transform: all .2s ease-in-out;
  width: 7%;
  margin-left: 2%;
  padding-right: -2%;
}
.contactInfo{
  width: 99%;
  height: 54%;
  background-color: white;
  margin-top: 31px;
}
.lance{
  background-position: right;
  background-image: url("sk8er-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 46%;
border: 2px solid white;
height: 99%;
display: inline-block;
}
.rodney{
  background-image: url(sk8er-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 46%;
  border: 2px solid white;
  height: 99%;
  display: inline-block;
  margin-left: 5%;
}
.footerText{
  display: inline-block;
padding-left: 33px;
float: inherit;
  text-align: left;
  width: 53%;
  font-size: 11px;
  padding-top: 1%;
padding-left: 1%;
}
.footerpics{
  margin-left: 5%;
    margin-top: 7%;
}
.socialbuttons{
  float: right;
}
.textInput{
  display: inline-block;
padding-left: 33px;
float: inherit;
}
//animations are bellow
@-webkit-keyframes{}

.skateBoards > img:hover {
  transform: scale(1.08);
}

.tommyGuerrero:hover
{
        box-shadow:
                1px 1px #fff,
                3px 2px #fff,
                3px 3px #fff;
        -webkit-transform: translateX(-3px);
        transform: translateX(-1px);
}
.lance:hover{
  box-shadow:
          1px 1px #fff,
          3px 2px #fff,
          3px 3px #fff;
  -webkit-transform: translateX(-3px);
  transform: translateX(-1px);
}
.rodney:hover{
  box-shadow:
          1px 1px #fff,
          3px 2px #fff,
          3px 3px #fff;
  -webkit-transform: translateX(-3px);
  transform: translateX(-1px);
}
.steveCaballero:hover {
  box-shadow:
          1px 1px #fff,
          3px 2px #fff,
          3px 3px #fff;
  -webkit-transform: translateX(-3px);
  transform: translateX(-1px);
}
.article1:hover
{
        box-shadow: inset 0 0 0 5px #FF0000;
}
.article2:hover
{
        box-shadow: inset 0 0 0 5px #FF0000;
}
.article3:hover
{
        box-shadow: inset 0 0 0 5px #FF0000;
}
.footerpics
{
        opacity:0.3;
}
.footerpics:hover
{
        opacity:1;
}



//animations pulled from http://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/
