
.skateBoardbios{
  width: 100%;
    margin: 0px auto;
  height: 35%;
}

 .skateBoardbios{
   width: 79%;
   margin: 0px auto;
    height: 17%;
 }
 .tommyHeader{
padding-left: 28%;
padding-top: 42%;
 }
 .lanceHeader{
   text-align: center;
   color: white;
 }
 .rodneyHeader{
   text-align: center;
   color: white;
 }
 .steveHeader{
   text-align: center;
padding-top: 34px;
color: white;
 }
 .tommyGuerrero {
   color: white;
   background-image: url("sk8er-2.png");
   background-position: right;
   background-size: contain;
   background-repeat: no-repeat;
   background-size: cover;
   width: 39%;
    border: 1px solid white;
    float: right;
    height: 326%;
}
.lanceAndrodney{
  width: 60%;
  height: 158px;
  display: block;
  margin-top: 0.8%;
}
.steveCaballero{
  background-image: url("sk8er-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 158px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 1%;
}
.lance{
  background-position: right;
  background-image: url("sk8er-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 46%;
border: 2px solid white;
height: 99%;
display: inline-block;
}
.rodney{
  background-image: url(sk8er-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 46%;
  border: 2px solid white;
  height: 99%;
  display: inline-block;
  margin-left: 5%;
}
