.textbox1{
    height: 100%;
    font-size: 68%;
    padding: 6%;
}
.textbox2{
  height: 100%;
  font-size: 68%;
  padding: 6%;
}
.textbox3{
  height: 100%;
  font-size: 68%;
  padding: 6%;
}
.article {
  width: 79%;
margin: 7px auto;
height: 12%;
}
.article1{
width: 27%;
display: inline-block;
float: left;
height: 99%;
background-color: white;
margin-right: 4%;
margin-left: 0%;
    }
.article2{
    width: 27%;
    display: inline-block;
    float: left;
    height: 99%;
    background-color: white;
    margin-right: 3%;
    margin-left: 5%;
}
.article3{
    width: 28%;
    display: inline-block;
    float: right;
    height: 99%;
    background-color: white;
    margin-right: 0%;
  }
